name: CI/CD Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  quality:
    name: Quality Check
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      # 1. Generate Prisma Client
      # This creates the typescript definitions based on your schema.
      - name: Prisma Generate
        run: npx prisma generate
        env:
          DATABASE_URL: "file:./test.db"
          
  build:
    name: Unit test
    runs-on: ubuntu-latest
    needs: quality
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci

      # 2. Generate Prisma Client
      - name: Prisma Generate
        run: npx prisma generate
        env:
          DATABASE_URL: "file:./test.db"
      
      - name: Initialize Test Database
        run: npx prisma db push
        env:
          DATABASE_URL: "file:./test.db"

      # - name: Run Tests
      #   run: npm test
      #   env:
      #     NODE_ENV: test
      #     DATABASE_URL: "file:./test.db"

 
