name: CI/CD Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  quality:
    name: Quality Check
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      # 1. Generate Prisma Client
      # This creates the typescript definitions based on your schema.
      - name: Prisma Generate
        run: npx prisma generate
        env:
          DATABASE_URL: "postgresql://dummy:dummy@localhost:5432/dummy"
          
  build:
    name: Unit test
    runs-on: ubuntu-latest
    needs: quality
    
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: testdb
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpassword
        ports:
          - 5432:5432
        # Wait until Postgres is ready before starting the steps
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci

      # 2. Generate Prisma Client
      - name: Prisma Generate
        run: npx prisma generate
        env:
          DATABASE_URL: "postgresql://testuser:testpassword@localhost:5432/testdb"     
          
      - name: Initialize Test Database
        run: npx prisma db push
        env:
          DATABASE_URL: "postgresql://testuser:testpassword@localhost:5432/testdb"

      # - name: Run Tests
      #   run: npm test
      #   env:
      #     NODE_ENV: test
      #     DATABASE_URL: "postgresql://testuser:testpassword@localhost:5432/testdb"

 
